

.titles {
    animation: bounceInLeft;
    animation-duration: 1.5s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

.btn {
    animation: rubberBand 1.3s 4s backwards, bounceInLeft 1s 3s backwards;
}

.tag {
    animation: fadeIn 1s 2.5s both;
}

.avatar-container {
    animation: bounceInRight 1.5s 3s backwards;
}