.project-card:hover>.project-details {
    animation: fadeInUp 1s 0.1s forwards;
}


.card {
    animation: bounceInDown 1s backwards;
}

.arrow-icon {
    animation: bounceIn 1.5s 2s infinite backwards;
}